2) Un importante broker de compra y venta de vehiculos online se encuentra dando sus primeros
pasos en la preparación de su algoritmo de pricing, es por eso que se encuentra generando
algunos features iniciales para experimentar con distintos algoritmos de machine learning.
Para ello cuenta con un archivo con información de todas las transacciones que tuvo en su primer
año de operación en el formato (transaction_id, timestamp, vehicle_model_id,
price).

Por otro lado cuenta con información que fue extrayendo a partir de scrapping durante el último
año en el formato (timestamp, source, vehicle_model_id, price). La información
puede venir de múltiples fuentes (source), que pueden ser por ejemplo distintos sitios de
marketplace o clasificados.


Luego de un intenso trabajo previo ha podido unificar los modelos de vehículos que utiliza para
sus transacciones con la información que ha podido obtener de otros competidores mediante
scrapping. Muchos de los modelos disponibles en la información de scrapping no han sido aún
comercializados por la empresa, pero se sabe que se cuenta con precios scrapeados de todos los
modelos que se vendieron.


Se pide generar utilizando Pandas un dataframe que tenga el siguiente formato
(vehicle_model_id, ext_mean_price, ext_std_price, int_mean_price,
int_std_price), siendo:
- mean_price: precio promedio para ese vehículo.
- std_price: desvío estándar del precio para ese vehículo.
y los prefijo ext_ y int_ indicando que deben ser calculado sobre respectivamente datos
externos (los obtenido vía scraping) y datos internos (los de las transacciones). (***) (15pts)

In [1]:
import numpy as np
import pandas as pd

**transacciones_df ...  (transaction_id, timestamp, vehicle_model_id, price)**

**scrapping_df ... (timestamp, source, vehicle_model_id, price)**

Quiero construir un df con el formato 

**(vehicle_model_id, ext_mean_price, ext_std_price, int_mean_price, int_std_price)**

In [6]:
transacciones_data = {'transaction_id': [1,1,1,1,1,1,1,1,1,1,1],\
                     'timestamp': [1,1,1,1,1,1,1,1,1,1,1],\
                      'vehicle_model_id': [1,2,2,4,1,3,5,5,4,3,3],\
                      'price': [75000,64000,67000,84000,78000,115000,15000,17000,87000,123000,123500]
                     }
transacciones_df = pd.DataFrame(transacciones_data, columns = transacciones_data.keys())

scrapping_data = {'timestamp': [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],\
                 'vehicle_model_id': [1,2,2,3,1,1,4,2,3,4,5,6,5,6,6],\
                  'price': [76500,67000,66600,125000,77300,81000,88000,65000,105000,88500,10000,210000,10300,225000,221000]
                 }
scrapping_df = pd.DataFrame(scrapping_data, columns = scrapping_data.keys())

In [7]:
#calculo las estadisticas pedidas para el df de transacciones
transacciones_df['int_mean_price'] = transacciones_df.groupby('vehicle_model_id')['price'].transform('mean')
transacciones_df['int_std_price'] = transacciones_df.groupby('vehicle_model_id')['price'].transform('std')

In [8]:
scrapping_df['ext_mean_price'] = scrapping_df.groupby('vehicle_model_id')['price'].transform('mean')
scrapping_df['ext_std_price'] = scrapping_df.groupby('vehicle_model_id')['price'].transform('std')

In [9]:
#me quedo solo con las columnas que quiero 
scrapping = scrapping_df.loc[:,['vehicle_model_id','ext_mean_price','ext_std_price']]
transacciones = transacciones_df.loc[:,['vehicle_model_id','int_mean_price','int_std_price']]

In [11]:
#ahora mergeo, en el archivo externo se por enunciado que tengo -todos- los datos de los vehiculos de transacciones y mas,
#por lo tanto el merge lo hago con how = 'right'
resultado = transacciones.merge(scrapping, how = 'right', on = 'vehicle_model_id')

resultado_final = resultado.loc[:,['vehicle_model_id','ext_mean_price','ext_std_price','int_mean_price','int_std_price']]
resultado_final.drop_duplicates('vehicle_model_id')

,vehicle_model_id,ext_mean_price,ext_std_price,int_mean_price,int_std_price
0,1,78266.666667,2400.694344,76500.0,2121.320344
6,2,66200.000000,1058.300524,65500.0,2121.320344
12,3,115000.000000,14142.135624,120500.0,4769.696007
18,4,88250.000000,353.553391,85500.0,2121.320344
22,5,10150.000000,212.132034,16000.0,1414.213562
26,6,218666.666667,7767.453465,NaN,NaN